# Dependencies
node_modules/
node_modules/.prisma/

# Logs
npm-debug.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db
